@page "/fillform"
@page "/fillform/{id:guid}"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>ViewForm</PageTitle>

<h3>Form</h3>



<div>
    <input type="button" @onclick='()=>NavigationManager.NavigateTo("/programs")' value="Go Back" />
</div>


@if (formProgram == null)
{
    <p><em>Loading...</em></p>
}
else{

    <div class="form-container">
        <div class="form-header">
            <form @onsubmit="SubmitAnswers">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input id="title" @bind="formProgram.Title" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" @bind="formProgram.Description" class="form-control"></textarea>
                </div>

                <div class="form-group">
                    <label for="first-name">First Name</label>
                    <input type="text" id="first-name">
                    <span>Mandatory field</span>
                </div>
                <div class="form-group">
                    <label for="last-name">Last Name</label>
                    <input type="text" id="last-name">
                    <span>Mandatory field</span>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email">
                    <span>Mandatory field</span>
                </div>
                <div class="form-group">
                    <label for="phone">Phone (without dial code)</label>
                    <input type="tel" id="phone">
                    <div class="optional">
                        <input type="checkbox" id="phone-internal">
                        <label for="phone-internal">Internal</label>
                        <input type="checkbox" id="phone-hide">
                        <label for="phone-hide">Hide</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="nationality">Nationality</label>
                    <input type="text" id="nationality">
                    <div class="optional">
                        <input type="checkbox" id="nationality-internal">
                        <label for="nationality-internal">Internal</label>
                        <input type="checkbox" id="nationality-hide">
                        <label for="nationality-hide">Hide</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="residence">Current Residence</label>
                    <input type="text" id="residence">
                    <div class="optional">
                        <input type="checkbox" id="residence-internal">
                        <label for="residence-internal">Internal</label>
                        <input type="checkbox" id="residence-hide">
                        <label for="residence-hide">Hide</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="id-number">ID Number</label>
                    <input type="text" id="id-number">
                    <div class="optional">
                        <input type="checkbox" id="id-internal">
                        <label for="id-internal">Internal</label>
                        <input type="checkbox" id="id-hide">
                        <label for="id-hide">Hide</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <input type="date" id="dob">
                    <div class="optional">
                        <input type="checkbox" id="dob-internal">
                        <label for="dob-internal">Internal</label>
                        <input type="checkbox" id="dob-hide">
                        <label for="dob-hide">Hide</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <input type="text" id="gender">
                    <div class="optional">
                        <input type="checkbox" id="gender-internal">
                        <label for="gender-internal">Internal</label>
                        <input type="checkbox" id="gender-hide">
                        <label for="gender-hide">Hide</label>
                    </div>
                </div>

                <br />
                @foreach (var item in formQuestionlist)
                {

                    switch (item.QuestionType)
                    {
                        case FormQuestionTypeDTO.Paragraph:
                            <div class="form-group">
                                <label for="question">@item.Question</label>
                                <input id="question" type="text" @bind="item.Answers" class="form-control" />
                            </div>
                            break;

                        case FormQuestionTypeDTO.Date:
                            <div class="form-group">
                                <label for="question">@item.Question</label>
                                <input id="question" type="date" class="form-control" @bind="dateAnswer" />
                            </div>
                            break;

                        case FormQuestionTypeDTO.Number:
                            <div class="form-group">
                                <label for="question">@item.Question</label>
                                <input id="question" type="number" class="form-control" @bind="item.Answers"   />
                            </div>
                            break;

                        case FormQuestionTypeDTO.YesNo:

                            <label for="question">@item.Question</label>
                            <div class="form-group">
                                <label for="question">Yes</label>
                                <input id="question" type="checkbox" class="form-control" @bind="item.Answers" />
                            </div>
                            <div class="form-group">
                                <label for="question">No</label>
                                <input id="question" type="checkbox" class="form-control" @bind="item.Answers" />
                            </div>

                            break;

                        case FormQuestionTypeDTO.MCQ:
                            <div class="form-group">
                                <label for="question">@item.Question</label>
                                <select multiple @bind="item.MCQAnswers">
                                    @foreach (var answer in item.MCQAnswers)
                                    {
                                        <option value="@answer">@answer</option>
                                    }
                                </select>
                            </div>
                            break;

                        case FormQuestionTypeDTO.DropDown:
                            <div class="form-group">
                                <label for="question">@item.Question</label>
                                <select @bind="item.Answers">
                                    @foreach (var answer in item.MCQAnswers)
                                    {
                                        <option value="@answer">@answer</option>
                                    }
                                </select>
                            </div>
                            break;

                        default: break;
                    }

                }

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

                <br />
            </form>
        </div>
    </div>
}





@code {
    [Parameter] public Guid Id { get; set; }
    private FormProgramDTO? formProgram;
    private FormDTO? form;
    private List<FormQuestionDTO>? formQuestionlist ;
    private List<FormAnswersDTO> formAnswerslist = new List<FormAnswersDTO>();
    private DateTime dateAnswer;


    protected override async Task OnParametersSetAsync()
    {
        try
        {
            formProgram = await Http.GetFromJsonAsync<FormProgramDTO>($"api/FormProgram/{Id}");
            if (formProgram != null)
            {
                form = await Http.GetFromJsonAsync<FormDTO>($"api/Form/{formProgram.Id}");
                if (form != null)
                {
                    formQuestionlist = await Http.GetFromJsonAsync<List<FormQuestionDTO>>($"api/FormQuestion/{form.Id}");

                    formAnswerslist = formQuestionlist.Select(q => new FormAnswersDTO { QuestionId = q.Id , CreatedOn = DateTime.UtcNow, CreatedBy= "Candidate" }).ToList();
                }
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading data: {ex.Message}");
        }
    }


    private async Task SubmitAnswers(){
        // Populate formAnswerslist with answers
        for (int i = 0; i < formQuestionlist.Count; i++)
        {
            if (formQuestionlist[i].QuestionType==FormQuestionTypeDTO.Date)
            {
                formAnswerslist[i].Answer = dateAnswer.ToLongTimeString();
            }

            if (formQuestionlist[i].MCQAnswers.Count!=0)
            {
                foreach (var item in formQuestionlist[i].MCQAnswers)
                {
                    formAnswerslist[i].Answer = string.Join(',', formQuestionlist[i].MCQAnswers);
                }
                
            }
            
            formAnswerslist[i].Answer = formQuestionlist[i].Answers; // Assuming formQuestionDTO has an Answer property
        }
        await Http.PostAsJsonAsync<List<FormAnswersDTO>>("api/FormAnswers/", formAnswerslist);

        NavigationManager.NavigateTo("/programs");
    }

}
